@import "../../../variables";

.header {
  height: 100vh;
  position: relative;
  background-color: my-color("dark");
}

.info {
  position: absolute;
  width: 100%;
  max-width: 320px;
  left: 50%;
  top: 40%;
  transform: translateX(-50%) translateY(-50%);

  h2 {
    font-size: 40pt;
    color: my-color("primary");
  }
  .desc {
    color: my-color("primary");
  }
}
