@import "../../../variables";

.container {
  width: 100%;

  .nav-wrapper {
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: transparent;
    top: 0;
    left: 0;
    .nav {
      display: flow-root;
      ul {
        list-style: none;
        float: right;
        li {
          float: left;
          a {
            color: my-color("lighter");
            display: block;
            padding: 19px 18px;
            font-size: 12pt;
          }

          &:hover {
            cursor: pointer;
            a {
              color: my-color("primary");
            }
          }
          .active {
            color: my-color("primary");
          }
        }
      }
    }
  }
  section {
    max-width: 1000px;
    margin: 0 auto;
  }
}
